<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kwce.mappers.BoardMapper">
	<insert id="create">
	INSERT
		INTO tbl_board
			( title,
			  book_title,
			  content,
			  writer,
			  rating,
			  password
			  )
	VALUES
		( #{title},
		  #{book_title},
		  #{content},
		  #{writer},
		  #{rating},
		  #{password}
		   )
	</insert>
	
	<select id="read" resultType="com.kwce.domain.BoardVO">
	SELECT
			bno,
			title,
			book_title,
			content,
			writer,
			regdate,
			viewcnt,
			rating
	  FROM 	tbl_board
	 WHERE  bno = #{bno}
	</select>
	
	<update id="update">
	UPDATE tbl_board
	   SET title =#{title},
	   	   content =#{content},
	   	   book_title =#{book_title},
	   	   rating =#{rating},
	   	   password =#{password}
	 WHERE bno =#{bno}
	</update>
	
	<delete id="delete">
	DELETE
	  FROM tbl_board
	 WHERE bno =#{bno}
	</delete>
	
	<select id="listAll" resultType="com.kwce.domain.BoardVO">
	<![CDATA[
	SELECT
		   bno,
		   title,
		   book_title,
		   content,
		   writer,
		   regdate,
		   viewcnt,
		   rating
	  FROM tbl_board
	 WHERE bno > 0
	 ORDER BY bno DESC,
	 		  regdate DESC
	]]>
	</select>
	
	<update id="updateViewcnt" parameterType="Integer">
	UPDATE tbl_board
	   SET viewcnt = viewcnt + 1
	 WHERE bno=#{bno}
	</update>
	
</mapper>